body {
    font-family: "baumans", sans-serif;
}

/*COLOR START  */
#B200{
    color:#6952C5;
}
#B150{
    color:#332D79;
}
#B200{
    color:#FBD7D7;
}
#B150{
    color:#D9D9D9;
}
#G100{
    color:#923232;
}
#G150{
    color:#6952C5;
}
#G100{
    color:#612626;
}
#G200{
    color:#6D8375;
}
/*COLOR END */

/* DIV BOX Color Start */
#BoxCategory_1{
    background-color: #A5B8BB;
}

#BoxCategory_2{
    background-color: #F2FF5D;
}

#BoxCategory_3{
    background-color: #90B3DD;
}

#BoxCategory_4{
    background-color: #565A58;
}

#BoxCategory_5{
    background-color: #393B3A;
}

#BoxCategory_6{
     background-color: #EAAEAE;
}

#BoxCategory_7{
     background-color:#B21E3F;
}

#BoxCategory_8{
    background-color:rgb(255, 255, 255);
}

#BoxCategory_9{
    background-color:black;
}

#BoxCategory_10{
    background-color: #BBE4EE;
}

/*DIV BOX Color End*/

/* DIV BOX OUTLINE COLOR START */
#box_1{
    border: 2px solid red;
    width: 400px;
    height: 500px;
    
  }

#box_2{
    border: 2px solid red;
    width: 400px;
    height: 700px;
    
}


/* DIV BOX OUTLINE COLOR END */


/* TRANSFORM BOX START */
#box_relative {
    position:relative;
    left: 800px;
    top: 30px;
}

#box_relative_2{
    position:relative;
    left: 900px;
    top: 20px;
    color:#ff0000
}

#box_relative_3{
    position:relative;
    left: 900px;
    top: 20px;
    color:#000000
}
/* TRANSFORM BOX END */

body {margin:0;}
.icon-bar  {
  width: 100%;
  overflow: auto;
  
}
.icon-bar a {
  float: left;
  width: 10%;
  text-align: center;
  padding: 40px 0;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  font-size: 70px;
}

.icon-bar a:hover {
  color: #0d00ff;

};


body {margin:0;}
.icon  {
  width: 100%;
  overflow: auto;
  
}
.icon a {
  float: left;
  width: 10%;
  text-align: center;
  padding: 40px 0;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  font-size: 70px;
}

.icona:hover {
  color: #0d00ff;

};

/* emily ling start */
#name{
    position:relative;
    top: 500px; 
    left: 600px;
}

#portfolio_1{
    position:relative;
    top: -200px; 
    left:-390px;
    font-weight: 1000px;
}

#portfolio_2{
    position:relative;
    top: -520px; 
    left:-70px;
    font-weight: 1000px;
}

#portfolio_3{
    position:relative;
    top: 100px; 
    left:-60px;
}
/* emily ling end */

/* all page size start */
body{

     width: 1300px;
    height: 50px;
}
/* all page size end */

#circle_1{
    background-color:#8D7D85;
    border-radius:50%;
}

#Square{
    background-color:#EADBE1;
    width: 100px;
    height: 100px;

}
#triangles{
    width: 0;
    height:0;
    border-top: 50px solid transparent;
        border-right: 110px solid #8D7D85;
        border-bottom: 50px solid transparent;
}

/* button */
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #b1a97c;
  }
  
  .button1:hover {
    background-color: #dadaf1;
    color: white;
  }

#aboutme {
    font-family: Broadway;
    font-weight: 1000px;
    font-size: 110PX;
    width:20%;
    height:30px
}

#introduction {
    font-family: Berlin Sans FB Demi Bold;
    font-size: 23PX;
    width:100%;
    height:50px;
    font-weight: 100px;
}

#introduction_1{
    font-family: Berlin Sans FB Demi Bold;
    font-size: 35PX;
    width:50%;
    height:50px;
    font-weight: 100px;
}

#introduction_2{
    font-family: Berlin Sans FB Demi Bold;
    font-size: 20PX;
    width:50%;
    height:50px;
    font-weight:bold;
    offset-distance: 0%;
}

#font{
    font-family: Broadway;
    font-size:80PX;
    width:80%;
    height:10px;
    font-weight:bold;
}

#font_1{
    font-family:Minion Variable Concept;
    color: rgb(0, 0, 0);
    font-size:50PX;
    width:90%;
    height:8px;
    top: -300;
    left: -800;
}

#font_2{
    font-family:Minion Variable Concept;
    color: rgb(0, 0, 0);
    font-size:40PX;
    width:60%;
    height:8px;
    top: -300;
    left: -800;
}

#photograpy{

 background-color: #393B3A; /* Green */
  border: none;
  color: rgb(240, 193, 229);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-size: 39px; 
  font-family: Broadway;  
  width: 155;
}

#photograpy:hover {
    color: #ffffff;
  
  };
  
#content{
 float: left;
  width: 10%;
  text-align: center;
  padding: 40px 0;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  font-size: 70px;
}

#phoneicon{
    color:#ffffff;
    font-size: 20px;
    font-family:Broadway;

   }

#location{
    width:4%;
    height:30px;
}

#content_1{
    width:60%;
    height:50px;
    margin-left:40%;
    margin-top:-720px;
    font-size: 60px;
    font-family:Myriad Pro;
}

#button_1{
    background-color: #A5B8BB; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    font-family: Broadway;  
    width: 68%;
    height:40px;
}
#button_1:hover {
    color: white;
  }

 #Mysticrose{
    font-family: Myriad Pro;
    font-size: 60px;
    color:#ffffff
 }

 #drymedia{
    font-size: 30px;
    font-family: Myriad Pro;
    color:#ffffff;
 }

 body {margin:0;}
.icon-bar b {
  width: 100%;
  overflow: auto;
  
}
.icon-bar b {
  float: left;
  width: 10%;
  text-align: center;
  padding: 40px 0;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.icon-bar b:hover {
  color: #0d00ff;

};